* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #004C3D;
  /* color: #606063; */
  /* overflow: hidden; */
  font-family: "News Cycle", sans-serif;
}

.container {
  overflow-y : auto;
  position: relative;
  min-width: 100vw;
  height: 100vh;
  color: #383320;
}



#div2 {
  scroll-behavior: smooth;
float: right;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(43, 43, 43);
  /* border: 1px solid red; */
}

#div3 {

  left: 200px;
  top: 200px;
  height: 1500px;
  /* border: 5px solid yellow; */
}